<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
  <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="coverImage" class="form-label">coverImage</label>
            <input type="file" class="form-control" id="coverImage" name="coverImageURL" aria-describedby="coverImage">
          </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="body">Comments</label>
            <textarea class="form-control" name="content" id="body"></textarea>
            
        </div>
        <div class="mb-3">
           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>    
  </div>  
    <%- include('./partials/scripts') %>
</body>
</html>